{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/film_adding.css' %}">
  <title>K I N O</title>
</head>

<body>

  <div class="page-container">

    <header>
      <svg viewBox="0 0 375 164" xmlns="http://www.w3.org/2000/svg">
          <polygon points="0,0 375,0 375,164 0,83"/>
      </svg>    
      <a class="btn_profile" href="{% url 'profile' %}">
          <img src="/static/img/profile.svg" alt="profile" width="57">
      </a>
      <h1>Запись</h1>
    </header>
    
    <form action="{% url 'film_adding' %}" method="post">
      <div class="mobile-container">
        {% csrf_token %}

        <input class="field" type="text" name="film_title" placeholder="название фильма" required>
        <input class="field" type="text" name="film_year" placeholder="год">
        <input class="field" type="text" name="film_genre" placeholder="жанр" required>
        <input class="field" type="text" name="film_director" placeholder="режиссёр">
        <textarea class="field" name="film_discr" placeholder="описание"></textarea>

        <input class="btn-red" type="submit" name="btn_save" value="сохранить">
        <div class="btn-back">
          <a class="btn-back" href="{% url 'films' %}">назад</a>
        </div>

      </div>
    </form>


</div>
</div>

</body>

</html>