{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/films.css' %}">
  <script src="/static/js/slider.js" defer></script>
  <title>K I N O</title>
</head>
<body>

  <div class="page-container">
    <div class="mobile-container">

    <header>
      <svg viewBox="0 0 375 164" xmlns="http://www.w3.org/2000/svg">
          <polygon points="0,0 375,0 375,164 0,83"/>
      </svg>    
      <a class="btn_profile" href="{% url 'profile' %}">
          <img src="/static/img/profile.svg" alt="profile" width="57">
      </a>
      <h1>Фильмы</h1>
    </header>

    {% if films %} 
    <section class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false">
      <div class="itc-slider-wrapper">
        <div class="itc-slider-items">
          
          {% for film in films %}
            <div class="itc-slider-item">  
              <div class="itc-slider-item-text">
                <h2>«{{film.title}}»</h2>
                <p class="itc-slider-item-text-year">({{film.year}})</p>
                <p class="itc-slider-item-text-genre">{{film.genre}}</p>
                <p class="itc-slider-item-text-director">реж. {{film.director}}</p>
                <p class="itc-slider-item-text-discr">{{film.discription}}</p>
              </div>  <!-- itc-slider-item-text -->

              <form action="{% url 'films' film.id %}" method="post">
                {% csrf_token %}
                {% if film.viewed %}
                  <input class="itc-slider-item-btn_viewed" type="submit" name="btn_viewed" value="просмотрено">
                {% else %}
                  <input class="itc-slider-item-btn_watch" type="submit" name="btn_watch" value="смотреть">
                {% endif %}
              </form>
              
              <a class="itc-slider-item-btn_edit" href="{% url 'film_edit' film.id %}">редактировать</a>
            </div>  <!-- itc-slider-item -->
          {% endfor %}

        </div>  <!-- itc-slider-items -->

        <section class="bottom">
          {% if not only_one_film %}
            <button class="itc-slider-btn itc-slider-btn-prev">
              <img src="/static/img/arrow_prev.svg" alt="arrow_prev">
            </button>
          {% endif %}
          <a class="itc-slider-btn itc-slider-item-btn_adding" href="{% url 'film_adding' %}">
            <img src="/static/img/add_btn.svg" alt="btn_add_film">
          </a>
          {% if not only_one_film %}
            <button class="itc-slider-btn itc-slider-btn-next">
              <img src="/static/img/arrow_next.svg" alt="arrow_next">
            </button>
          {% endif %}
        </section>  <!-- bottom -->

      </div>   <!-- itc-slider-wrapper -->
    </section>   <!-- itc-slider -->
    
    {% else %}
    <div class="empty-film-list">
      <h2>пусто</h2>
      <a class="itc-slider-item-btn_adding" href="{% url 'film_adding' %}">
        <img src="/static/img/add_btn.svg" alt="btn_add_film">
      </a>
    </div>
    {% endif %}
    
  </div>  <!-- mobile-container -->
</div>  <!-- page-container -->

</body>
</html>