{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>K I N O</title>
</head>
<body>
    <div class="page-container">
        <div class="mobile-container">
            <h1>VlsH</h1>
            <img src="/static/img/kinoplenta.png" alt="kinolenta">
            <svg viewBox="0 0 375 439" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0,0 375,90 375,439 0,439"/>
            </svg>          
            <section class="authorization">
                <p>{{msg}}</p>
                <form action="{% url 'main' %}" method="post">
                    {% csrf_token %}
                    <input class="field" type="text" name="login" placeholder="логин" value="{{login}}" required>
                    <input class="field" type="text" name="password" placeholder="пароль" value="{{password}}" required>
                    <input class="btn-red" type="submit" name="btn_entering" value="войти">
                </form>
                <div class="btn-registration">
                    <a href="{% url 'registration' %}">регистрация</a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>