{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>K I N O</title>
</head>
<body>
    <div class="page-container">
        <div class="mobile-container">
            <h1>VlsH</h1>
            <h2>Профиль</h2>
            <section class="authorization">
                <p>{{msg}}</p>
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <input class="field" type="text" name="login" value="{{login}}" placeholder="логин">
                    <input class="field" type="text" name="password" value="{{password}}" placeholder="пароль">

                    <input class="btn-red" type="submit" name="btn_save" value="сохранить">
                    <input class="btn-exit" type="submit" name="btn_exit" value="выйти из аккаунта">
                </form>
            </section>
        </div>
    </div>
</body>
</html>