{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>K I N O</title>
</head>
<body>
    <div class="page-container">
        <div class="mobile-container">
            <h1>VlsH</h1>
            <h2>Новый<br><span>аккаунт</span></h2>
            <section class="authorization">
                <p>{{msg}}</p>
                <form action="{% url 'registration' %}" method="post">
                    {% csrf_token %}
                    <input class="field" type="text" name="login" value="{{login}}" placeholder="логин" required>
                    <input class="field" type="text" name="password" value="{{password}}" placeholder="пароль" required>
                    <input class="btn-red" type="submit" name="btn_registration" value="создать">
                </form>
                <div class="btn-registration">
                    <a href="{% url 'main' %}">на главную</a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>