body {
    font-family: 'Inter';
    background-color: #D5D5D5;
}
.page-container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.btn_profile {
    position: relative;
    top: -115px; 
    left: 269px;
    text-decoration: none;
}
.mobile-container h1 {
    color: #9B9B9B;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    position: absolute;
    top: 136px;
}

.itc-slider {
    position: relative;
}
.itc-slider-wrapper {
    overflow: hidden;
}
.itc-slider-items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}
.itc-slider-transition-none {
    transition: none;
}
.itc-slider-item {
    flex: 0 0 100%;
    user-select: none;
    will-change: transform;
    text-align: center;
} 
  
.itc-slider-item-text {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 128.1%;
    width: 72%;
    margin-left: 14%; 
}
  
.itc-slider-item-text h2 {
    color: #0A0A0A;
    font-size: 28px;
    font-weight: 400;
    line-height: 129%; 
    text-transform: uppercase;
    margin: 0;
}
.itc-slider-item-text-year {
    color: #0A0A0A;
    font-size: 18px;
    line-height: 129%; 
    text-transform: uppercase;
    margin-bottom: 24px;
}
.itc-slider-item-text-genre {
    color: #0A0A0A;
    font-size: 16px;
    margin-bottom: 18;
}
.itc-slider-item-text-director {
    color: #9B9B9B;
    font-size: 16px;
    margin-bottom: 24px;
}
.itc-slider-item-text-discr {
    color: #000;
    font-size: 14px;
    margin-bottom: 42px;
}
  
  
.itc-slider-item-btn_watch {
    width: 72%;
    margin-left: 14%; 
    background-color: #700000;
    border: 1px solid #700000;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    border: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}
.itc-slider-item-btn_watch:active {
    background-color: #9B9B9B;
}
.itc-slider-item-btn_watch:hover {
    cursor: pointer;
}
.itc-slider-item-btn_edit {
    width: 72%;
    margin-left: 14%; 
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    border: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    color: #0A0A0A;
    border: 1px solid #000;
}
.itc-slider-item-btn_edit:active {
    background-color: #D5D5D5;
}

.itc-slider-btn {
    border: none;
    width: 47px;
    cursor: pointer;
    background: none;
    padding: 0;
    border-radius: 23px;
}
.itc-slider-btn-hide {
    display: none;
}
.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 30px;
    height: 47px
}
.itc-slider-btn-prev {  
    margin-right: 64px;
}
.itc-slider-btn-prev:active {
    background-color: #D5D5D5;
}
.itc-slider-item-btn_adding:active {
    background-color: #D5D5D5;
}
.itc-slider-btn-next { 
    margin-left: 64px;
}
.itc-slider-btn-next:active {
    background-color: #D5D5D5;
}

.empty-film-list {
  margin-bottom: 50px;
  text-align: center;
}
.empty-film-list h2 {
    margin-bottom: 450px;
}




.itc-slider-item-btn_viewed {
    width: 72%;
    margin-left: 14%; 
    background-color: #9B9B9B;
    border: 1px solid #9B9B9B;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    border: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}
.itc-slider-item-btn_viewed:active {
    background-color: #D5D5D5;
}
.itc-slider-item-btn_viewed:hover {
    cursor:pointer;
}