body {
    font-family: 'Inter';
    background-color: #D5D5D5;
}
.page-container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.btn_profile {
    position: relative;
    top: -115px; 
    left: 269px;
    text-decoration: none;
}
h1 {
    color: #9B9B9B;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    position: absolute;
    top: 136px;
    margin-bottom: 0;
}
.mobile-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.field {
  display: block;
  width: 240px;
  color: #9B9B9B;
  font-size: 18px;
  padding-left: 16px;   
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
}
textarea {
  height: 100px;
}
.btn-red {
  margin-top: 30px;
  background-color: #700000;
  border: none;
  color: #fff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-red:hover {
  cursor: pointer;
}
.btn-red:active {
  background-color: #9B9B9B;
}

.btn-back {
  text-align: center;
  margin-top: 10px;
}

.btn-back a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
