
body {
    font-family: 'Inter';
    background-color: #D5D5D5;
}
.page-container {
    max-height: 824px;
    width: 375px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
}

.mobile-container h1 {
    position: absolute;
    text-align: right;
    margin-left: 230px;
    font-size: 44px;
    margin-top: 80px;
}

.mobile-container img {
    margin-top: 44px;
}

.authorization {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 480px;
}

.authorization p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #FF0202;
    margin-top: 0;
}

.mobile-container svg {
    transform: translateY(-37px);
}

.field {
    display: block;
    width: 260px;
    color: #9B9B9B;
    font-size: 18px;
    padding-left: 16px;   
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 15px;
}

.btn-red {
    margin-top: 5px;
    background-color: #700000;
    border: none;
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-red:hover {
    cursor: pointer;
}

.btn-red:active {
    background-color: #9B9B9B;
}

.btn-registration {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.btn-registration a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
