
body {
    font-family: 'Inter';
    background-color: #D5D5D5;
}
.page-container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}


.mobile-container {
    margin-top: 50px;
    margin-bottom: 188px;
    margin-left: 50px;
    margin-right: 50px;
}
.mobile-container h1 {
    font-size: 24px;
}
.mobile-container h2 {
    font-size: 50px;
    margin-top: 130px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 68px;
}
.mobile-container h2 span {
    font-size: 40px;
}

.field {
    display: block;
    width: 253px;
    color: #9B9B9B;
    font-size: 18px;
    padding-left: 16px;   
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 15px;
}
.btn-red {
    margin-top: 10px;
    background-color: #700000;
    border: none;
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-red:hover {
    cursor: pointer;
}
.btn-red:active {
    background-color: #9B9B9B;
}

.authorization p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #FF0202;
    margin-top: 0;
}
.btn-registration {
    margin-top: 12px;
    width: 100%;
    text-align: center;
}
.btn-registration a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}